.lead {
  font-family: "inter", Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  max-width: 984px;
  margin: 56px 148px 0;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .lead {
    margin: 45px 48px 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 1023px) {
  .lead {
    max-width: 100%;
    margin: 48px 0 0;
  }
}
