.place__paragraphs {
  display: inline-flex;
  flex-direction: column;
  gap: 27px;
  max-width: 484px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .place__paragraphs {
    max-width: 456px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .place__paragraphs {
    gap: 25px;
    max-width: 352px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .place__paragraphs {
    margin-left: 16px;
    margin-right: 16px;
  }
}