.lead__subtitle {
  max-width: 640px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 0;
  padding: 0;
}

@media screen and (min-width: 620px) and (max-width: 767px) {
  .lead__subtitle {
    font-size: 24px;
    line-height: 30px;
    max-width: 558px;
    margin-top: 25px;
  }
}

@media screen and (min-width: 425px) and (max-width: 619px) {
  .lead__subtitle {
    font-size: 20px;
    line-height: 25px;
    max-width: 380px;
    margin-top: 20px;
  }
}

@media screen and (min-width: 320px) and (max-width: 424px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    max-width: 288px;
    margin-top: 16px;
  }
}
