.cover {
  font-family: "inter", Arial, Helvetica, sans-serif;
  max-width: 1184px;
  margin-top: 92px;
  margin-left: 48px;
  margin-right: 48px;
}

@media (max-width: 1024px) {
  .cover {
    margin: 92px 0 0;
  }
}

@media (max-width: 620px) {
  .cover {
    margin: 85px 0 0;
  }
}

@media (max-width: 425px) {
  .cover {
    margin: 76px 0 0;
  }
}

@media (max-width: 320px) {
  .cover {
    margin: 66px 0 0;
  }
}