.cover {
  font-family: "inter", Arial, Helvetica, sans-serif;
  max-width: 1184px;
  margin-top: 92px;
  padding: 0 48px;
}

@media (max-width: 1024px) {
  .cover {
    padding: 0;
  }
}

@media (max-width: 768px) {
  .cover {
    margin-top: 90px;
  }
}

@media (max-width: 620px) {
  .cover {
    margin-top: 85px;
  }
}

@media (max-width: 425px) {
  .cover {
    margin-top: 76px;
  }
}

@media (max-width: 320px) {
  .cover {
    margin-top: 66px;
  }
}