.attractions {
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 80px;
    display: flex;
    flex-direction: column;
}
  
  @media (max-width: 768px) {
    .attractions {
      gap: 73px;
    }
  }
  
  @media (max-width: 620px) {
    .attractions {
      gap: 66px;
    }
  }