.cover__title {
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  text-align: center;
  max-width: 560px;
  margin: 0;
  position: relative;
}

@media (max-width: 620px) {
  .cover__title {
    font-size: 60px;
    max-width: 480px;
  }
}

@media (max-width: 425px) {
  .cover__title {
    font-size: 44px;
    max-width: 320px;
  }
}

@media (max-width: 320px) {
  .cover__title {
    font-size: 32px;
    max-width: 288px;
    line-height: 109%;
  }
}