.footer {
  font-family: "inter", Arial, Helvetica, sans-serif;
  display: flex;
  max-width: 1184px;
  margin: 92px 48px 24px 48px;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

@media (max-width: 1024px) {
  .footer {
    max-width: 928px;
  }
}

@media (max-width: 768px) {
  .footer {
    max-width: 720px;
    margin: 88px 24px 24px 24px;
  }
}

@media (max-width: 620px) {
  .footer {
    max-width: 572px;
    margin-top: 80px;
  }
}

@media (max-width: 425px) {
  .footer {
    max-width: 186px;
    margin: 72px 118px 24px 16px;
  }
}

@media (max-width: 320px) {
  .footer {
    margin-top: 64px;
  }
}