.place__website {
  align-self: end;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: start;
}

@media (max-width: 620px) {
  .place__website {
    font-size: 38px;
    padding-left: 16px;
  }
}